<!-- FOOTER -->
<footer id="main-footer" class="text-center p-4 text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright INDUSTRY &copy; 2023
          
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- VIDEO MODAL -->
<div class="modal fade" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <iframe src="" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<script src="{{url}}vendors/js/jquery.js"></script>
<script src="{{url}}vendors/js/popper.js"></script>
<script src="{{url}}vendors/js/bootstrap.min.js"></script>
<script src="{{url}}js/fontawosome.js"></script>
<script src="{{url}}js/script.js"></script>
<script>


</script>