<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">INDUSTRY</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav m-auto">
        {{#if isHome}}
        <li class="nav-item active">
          <a href="/" class="nav-link">Home</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        {{/if}}

        {{#if isAbout}}
        <li class="nav-item active">
          <a href="/about" class="nav-link">About Us</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/about" class="nav-link">About Us</a>
        </li>
        {{/if}}

        {{#if isBlog}}
        <li class="nav-item active">
          <a href="/blog" class="nav-link">Blog</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/blog" class="nav-link">Blog</a>
        </li>
        {{/if}}



        {{#if isContact}}
        <li class="nav-item active">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
        {{/if}}



        {{#if user}}
        <li class="nav-item">
          <a href="/auth/logout" class="nav-link">Logout</a>
        </li>
        {{#if isAdded}}
        <li class="nav-item active">
          <a href="/blog/add" class="nav-link">add</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/blog/add" class="nav-link">add</a>
        </li>
        {{/if}}
        {{#if isProfile}}
        <li class="nav-item active">
          <a href="/profile/{{user.name}}" class="nav-link">My Profile</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/profile/{{user.name}}" class="nav-link">My Profile</a>
        </li>
        {{/if}}

        {{#if isProfile}}
        <li class="nav-item active">
          <a href="/test" class="nav-link">Test</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/test" class="nav-link">Test</a>
        </li>
        {{/if}}

        

        {{else}}

        {{#if isLogin}}
        <li class="nav-item active">
          <a href="/auth/login" class="nav-link">Sign In</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/auth/login" class="nav-link">Sign In</a>
        </li>
        {{/if}}

        {{#if isRegister}}
        <li class="nav-item active">
          <a href="/auth/signup" class="nav-link">Sign Up</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/auth/signup" class="nav-link">Sign Up</a>
        </li>
        {{/if}}

        {{/if}}
      </ul>
    </div>
  </div>
</nav>